<div class="home-container">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="CLÁSSICO"
        gamePrice="R$ 199,90"
        gameType="PS3 | PS4 | PS5">
    </app-card>

    <app-card 
        gameCover="assets/bt-4.jpg"
        gameLabel="EXCLUSIVO"
        gamePrice="R$ 259,90"
        gameType="DIGITAL | PS5">
    </app-card>


    <app-card gameCover="assets/bt-5.jpg"
        gameLabel="NOVO"
        gamePrice="R$ 259,90"
        gameType="PS3 | PS4 | PS5">
    </app-card>

    <app-card gameCover="assets/bt-5.jpg"
        gameLabel="NOVO"
        gamePrice="R$ 259,90"
        gameType="PS3 | PS4 | PS5">
    </app-card>
</div>