<app-menu-title></app-menu-title>

<div class="container-articles">

    <div class="articles-main">
        <app-big-card id="1"
        cardDescription="Playlist disponível no Youtube" 
        cardTitle="Novo curso Angular"
        photoCover="https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/content/cover_image_file/cover_image/1275957/retina_1708x683_cover-top-18-most-common-angularjs-developer-mistakes-41f9ad303a51db70e4a5204e101e7414.png"></app-big-card>
    </div>

    <div class="articles-other">
        <app-small-card id="2" cardTitle="Programa Hackers do Bem" photoCover="https://www.gov.br/mcti/pt-br/acompanhe-o-mcti/noticias/2023/05/mcti-lanca-programa-hackers-do-bem-para-capacitar-profissionais-em-ciberseguranca/original-18fa8f61ed2faa7c4871e2e0f7ee1997.png/@@images/01a79e33-3dec-4529-809d-c1f91d571a5e.png"></app-small-card>

        <app-small-card id="3" cardTitle="Formação tecnológica" photoCover="https://www.opovo.com.br/_midias/jpg/2023/05/19/818x460/1_cjovem_divulgacao_o_povo-22033537.jpeg?20230519185559?20230519185559"></app-small-card>
        
        <app-small-card id="4" cardTitle="Queda global do Instagram" photoCover="https://tm.ibxk.com.br/2023/05/22/22094128935038.jpg?ims=1120x420"></app-small-card>
    </div>

</div>