<div class="menu-bar-container">
    <div class="menu-bar-logo">
        <img 
        src="assets/ps-logo.png" 
        alt="playstation logo"
        width="140px"
        height="32px">
    </div>
    
    <div class="menu-bar-item">
        <ul>
            <li><a href="">NOVIDADES</a></li>
            <li><a href="">COLEÇÕES</a></li>
            <li><a href="">OFERTAS</a></li>
            <li><a href="">PS5</a></li>
            <li><a href="">ASSINATURAS</a></li>
            <li><a href="">NAVEGAR</a></li>
        </ul>
    </div>
</div>