* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}

.pokemons {
    padding: 0;
    margin: 0;
    list-style: none;

    display: grid; /*tabela*/
    grid-template-columns: 1fr 1fr; /*uma fração pra cada lado, 50% 50%*/
}

.pokemon {
    /*height: 85px;*/
    margin: .3rem;
    padding: 1.5rem 1rem;
    border-radius: .9rem;

    color: #ffff;
    background-color: #49d0b0;

    display: flex;
    flex-direction: column;
}

.pokemon .detail img {
    border-style: none;
    height: 70px;
    max-width: 100%; /*não vazar*/
    align-self: flex-end;
}
