* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}

.pokemons {
    padding: 0;
    margin: 0;
    list-style: none;

    display: grid; /*tabela*/
    grid-template-columns: 1fr 1fr; /*uma fração pra cada lado, 50% 50%*/
}

.pokemon {
    /*height: 85px;*/
    margin: .3rem;
    padding: 1rem;
    border-radius: .9rem;

    background-color: #49d0b0;

    display: flex;
    flex-direction: column;
}

.pokemon .number {
    color: #000;
    opacity: .5;

    font-size: .7rem;
    text-align: right;
}

.pokemon .name{
    color: #fff;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    margin: 0;
    padding: 0;
    
    color: #fff;

    list-style: none;
}

.pokemon .detail .types .type {
    margin: .3rem 0; /*margin só cima e baixo*/
    padding: .3rem .5rem;
    border-radius: .7rem;
    
    background-color: #61e2ca;

    font-size: 0.7rem;
    text-align: center;
}

.pokemon .detail img {
    height: 70px;
    max-width: 100%; /*não vazar*/

    border-style: none;
    
    align-self: flex-end;
}

