.pokemons {
    padding: 0;
    margin: 0;
    list-style: none;

    display: grid; /*tabela*/
    /*define o auto ajuste, seguindo o mínimo de 13.125rem = 210px e o max de 4 colunas*/
    grid-template-columns: repeat(auto-fit, minmax(13.125rem, 4fr)); 
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    margin: .3rem;
    padding: 1rem;
    border-radius: .9rem;

    display: flex;
    flex-direction: column;

    cursor: pointer;
}

.pokemon .number {
    color: #000;
    opacity: .5;

    font-size: .7rem;
    text-align: right;
}

.pokemon .name{
    font-weight: bold;
    text-transform: capitalize;
    color: #fff;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pokemon .detail .habilitys {
    display: none;
}

.pokemon .detail .types .type {
    margin: .3rem 0; /*margin só cima e baixo*/
    padding: .3rem .5rem;
    border-radius: .7rem;
    
    color: #fff;
    filter: brightness(1.1);
    font-size: 0.7rem;
    text-align: center;
}

.pokemon .detail img {
    height: 5rem;
    max-width: 65%; /*para que imagens muito grandes não vazem, ocupando 65% do card*/
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    margin: .3rem 0; /*margin só cima e baixo*/
    padding: .3rem .5rem;

    border: none;
    border-radius: .7rem;
    
    color: #fff;
    background-color: #6c79db;

    cursor: pointer;
}

.habilitys.hability {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0;
    padding: 5rem;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    box-sizing: border-box;
    text-align: center;
  }
  
.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;

    background-color: #fff;
}

.modal-content img {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 50%;
}

.modal-content ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}


.modal h2 {
    margin-top: 0;
}


.fechar-modal {
    position: absolute;
    top: 0;
    right: 0;

    margin: 10px;
    padding: 10px;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .modal-content {
        max-width: 90%;
        margin: 5% auto;
    }

    .modal-content img {
        max-height: 200px;
    }
}
